.body {
  padding: 2rem;
}

.body > div {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto; /* Scroll enable kar diya */
}

.total {
  text-align: right;
  margin-bottom: 1rem;
  color: #535353;
}

table {
  width: 100%;
  min-width: 900px; /* Ensures table doesn't shrink too much */
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 0.5rem;
  white-space: nowrap; /* Text wrapping avoid karne ke liye */
}

th {
  background-color: #277bc0;
  color: #fff;
}

/* Column-Specific Width Adjustments */
.sNo {
  width: 50px; /* S. No. ke liye */
}

.name {
  width: 180px; /* Max name length ke hisaab se */
}

.course {
  width: 200px; /* Course + Branch */
}

.event {
  width: 90px;
}

.rollNumber {
  width: 130px; /* 13-digit Roll Number ke hisaab se */
}

.post {
  width: 100px;
}

.academic {
  width: 110px;
}

.certno {
  width: 200px;
}

/* Loader */
.loader {
  border: 10px solid #ccc;
  border-radius: 50%;
  border-top: 10px solid #277bc0;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 2rem auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
