.post-card {
  width: 330px;
  border: 2px solid #277bc0;
  border-radius: 10px;
  margin-bottom: 2rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px #535353;
}

.post-card > img {
  width: 100%;
  height: 200px;
}

.details {
  padding: 0.5rem;
}

.details > h2 {
  font-family: "Merriweather", sans-serif;
  margin-bottom: 0;
}

.last-updated,
.category {
  background-color: #579bb1;
  width: max-content;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.category {
  background-color: #5bc0f8;
}

@media screen and (max-width: 576px) {
  .post-card {
    margin: 1rem 0;
  }
}
