.body {
  padding: 2rem;
}

.body > div {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: fixed; /* Allows scrolling */
}

.tableContainer {
  overflow-x: auto; /* Enables horizontal scrolling */
  max-width: 100%;
}

.table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  table-layout: auto !important; /* Ensures fixed column widths */
}



th, td {
  text-align: center;
  padding: 0.6rem 1rem;
  white-space: nowrap; /* Prevents text from wrapping */
}

th {
  background-color: #277bc0;
  color: #fff;
}

/* Responsive Table */
@media (max-width: 1024px) {
  .table {
    min-width: 700px; /* Adjust for smaller screens */
  }
}



.loader {
  border: 10px solid #ccc;
  border-radius: 50%;
  border-top: 10px solid #277bc0;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 2rem auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.volunteer-card{
  text-decoration: none;
  text-align: center;
}

h1 {
  display: flex;
  
  justify-content: center;
  
}