.body {
    text-align: center;
    background-color: #f8f9fa;
    overflow-x: hidden;
    
}

.body > div {
  max-width: 90%;
  margin: 0 auto;
  overflow-x: fixed; /* Allows scrolling */
}

.total {
text-align: right;
margin-bottom: 1rem;
color: #535353;
}
.search {
width: 35%;
/* position: relative; */
display: flex;
justify-content: flex-end;
margin-left: auto;
margin-right: 0;

}

.loader {
  border: 10px solid #ccc;
  border-radius: 50%;
  border-top: 10px solid #277bc0;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 2rem auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.volunteer-card {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.body h1 {
  display: flex;
  text-transform: uppercase;
  color: #277bc0;
  justify-content: center;
  
}
