.footer {
  background-color: #000; /* Dark background */
  color: #fff; /* White text color */
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-us,
.social {
  flex: 1;
  margin: 10px;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #227bc0; /* Accent color for headings */
  margin-bottom: 10px;
}

.contact-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  font-size: 1.4rem;
  color: #227bc0; /* Accent color for icons */
}

.details {
  margin-left: 1rem;
}

.label {
  font-weight: bold;
  color: #227bc0
}

.linke{
  color: #fff;
}

.social-icons {
  display: flex;
}

.social-icons .icon {
  margin-right: 10px;
  color: #fff; /* White icons */
}

.copyright {
  text-align: center;
  margin-top: 20px;
}