.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Added to center vertically */
  }
  
  .change-card {
    border: 2px solid #227bc0;
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem;
    width: 100%; /* Changed from fixed width to allow responsiveness */
    max-width: 400px; /* Added max-width for responsiveness */
  }
  
  .heading {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .label {
    color: #535353;
    text-align: left;
    font-size: 1rem; /* Adjusted for better readability */
  }
  
  .change-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .change-inputs {
    all: unset;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0.5rem auto;
    margin-bottom: 1rem;
    padding: 0.3rem;
    width: 100%; /* Full width for better responsiveness */
    max-width: 300px; /* Limit the input width */
    height: 30px;
    font-size: 1.2rem;
  }
  
  .change-inputs:focus {
    border: 1px solid #277bc0;
  }
  
  .change-btn {
    width: 100%; /* Full width for the button */
    max-width: 130px; /* Limit the width of the button */
    padding: 0.5rem;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
    border: 2px solid #277bc0;
    background-color: #227bc0;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .change-btn:hover {
    box-shadow: 0 0 10px #277bc0a2;
    opacity: 0.9;
  }
  
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #000;
    width: 18px;
    height: 18px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Mobile responsiveness */
  @media screen and (max-width: 520px) {
    .change-inputs {
      width: 90%; /* Adjust width for smaller screens */
      padding: 0.2rem;
      font-size: 1rem;
    }
  
    .change-btn {
      width: 90%; /* Adjust button width for smaller screens */
    }
  }
  