.body {
  padding: 2rem;
}

.body > h1 {
  text-align: center;
}

.body > div {
  max-width: max-content;
  margin: 0 auto;
}

.total {
  text-align: right;
  margin-bottom: 1rem;
  color: #535353;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
}

th {
  background-color: #277bc0;
  color: #fff;
}

.button {
  width: 100px;
  border: 1px solid #277bc0;
  outline: none;
  background-color: transparent;
  color: #277bc0;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.3 ease-in-out;
}

.button:hover {
  background-color: #277bc0;
  color: #fff;
}

.delete-button {
  width: 100px;
  border: 1px solid #ff6464;
  outline: none;
  background-color: transparent;
  color: #ff6464;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.3 ease-in-out;
}

.delete-button:hover {
  background-color: #ff6464;
  color: #fff;
}

.loader {
  border: 10px solid #ccc;
  border-radius: 50%;
  border-top: 10px solid #277bc0;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 2rem auto;
}

.delete-btn {
  font-size: 60px;
  color: #db1b1b;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
